{% extends 'base.html'%}

{% block title %}Authentification{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Authentification</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                <p>Votre nom d’utilisateur ou votre mot de passe sont incorrects.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Vous n’avez pas accès à cette page. Veuillez vous reconnecter en tant
                    qu’utilisateur ayant le droit de faire ceci.</p>
                    {% else %}
                    <p>Veuillez vous connecter pour voir cette page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary" value="Connexion" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>

                <p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
