{% extends 'base.html'%}

{% block title %}Déconnexion{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Authentification</h3>
            </div>
            <div class="panel-body">
                <p>Vous avez correctement fermé votre session.</p>
                <p><a href="{% url 'login' %}">Se connecter à nouveau</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
